# ignore everything in home by default
*
.*

# re-allow this file
!.gitignore

# ── configs ───────────────────────────────────────────────────────────────────

!.config/
.config/*

!.config/hypr/
.config/hypr/*
!.config/hypr/hyprland.conf
!.config/hypr/hyprpaper.conf

!.config/sway/
.config/sway/*
!.config/sway/config
!.config/sway/screenshot.sh
!.config/sway/swaylock.sh

!.config/waybar/
.config/waybar/*
!.config/waybar/config
!.config/waybar/style.css

!.config/wofi/
.config/wofi/*
!.config/wofi/config
!.config/wofi/style.css

!.config/fish/
.config/fish/*
!.config/fish/config.fish

!.config/kitty/
.config/kitty/*
!.config/kitty/kitty.conf

!.config/ags/
.config/ags/*
!.config/ags/.gitignore
!.config/ags/app.ts
!.config/ags/env.d.ts
!.config/ags/style.scss
!.config/ags/tsconfig.json
!.config/ags/package.json
!.config/ags/widget/
.config/ags/widget/*
!.config/ags/widget/*.tsx
!.config/ags/scripts/
.config/ags/scripts/*
!.config/ags/scripts/*.sh
